<div style="max-width: 500px; font-size: 13px; line-height: 18px; font-family: HelveticaNeue, sans-serif;">
    <p>Hey {{user.friendlyName}},</p>
    <p>To reset your info4c versioning tool password, click on this link:</p>
    <p><a href="{{link}}">{{link}}</a></p>
    <p>If you were not expecting this email, just ignore it.</p>
</div>
